/* FAVORITES ============================================ */

.row           { margin-bottom: 0; }
.tag-row       { margin-left: 0; margin-bottom: 0; }
.tag .btn      { font-weight: normal; }
.active-post   { display: block; }
.inactive-post { display: none; }
.review        { padding-bottom:20px; }
.title         { margin-top: 30px; margin-bottom: 15px; }
.review > .btn { font-weight: bold; }
.review p, 
.review ul, 
.review.btn { 
  font-size: 20px !important; 
}

h2 {
  font-family: 'Courier Prime', monospace;
  margin-bottom: 0;
}

h3 {
  font-family: 'Courier Prime', monospace;
  margin-top: 0;
}

h2.special-elite,
h3.special-elite {
  font-family: 'Special Elite', monospace;
}

.book-img {
    position: relative;
    display: inline-block;
    height: 300px !important;
    width: auto !important;
    margin: 10px;
}

#black-hole-spoiler {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}
#outliers-factors, .sub-list {
    padding-left: 15px;
}

.square-bulleted {
    list-style-type: square;
}